@{
    ViewBag.title = "加班申請單";
}
@model WebApplication1.Models.ApplicationFormViewModels.OvertimeCreateViewModel
<form asp-controller="ApplicationForm" asp-action="OvertimeRequestCreate" method="post">
    <div class="row" id="app">
        <div class="col-md">
            <div class="card-body">
                <div class="row mb-2">
                    <label class="col-form-label">申請人：</label>
                    <input type="text" class="col-sm-2 form-control" v-model="empName" readonly>
                    <div class="col-sm-auto ml-auto">
                        <label class="border rounded border-success  text-green p-1 pull-right">編輯中</label>
                    </div>
                </div>

                <div class="row mb-2">
                    <label class="col-form-label">加班期間：</label>
                    <input id="timeRange" type="datetime" class="form-control col-6">
                    <input type="hidden" v-model="startTime" />
                    <input type="hidden" v-model="endTime" />

                </div>

                <div class="row mb-2" v-if="isValid(startTime)">
                    <label class="col-form-label text-green">加班時數：{{ overtimeResult }}</label>
                </div>

                <div class="row mb-2">
                    <div class="input-group">
                        <div class="input-group-prepend mr-1">
                            <span class="input-group-text">
                                <input type="checkbox" id="ovetimeCheck" v-model="status">
                            </span>
                        </div>
                        <label for="ovetimeCheck" class="mb-0" style="">加班轉補休</label>
                    </div>
                </div>

                <div class="row mb-2">
                    <label class="col-form-label">加班原因：</label>
                    <textarea cols="5" rows="5" class="form-control" v-model="reason"></textarea>
                </div>

            </div>
            <div class="card-footer">
                <input type="button" @@click="sendOvertimeRequest" class="btn btn-outline-primary" value="api送出" />
                <button id="dataSend" type="submit" class="btn btn-outline-primary">送出</button>
                <input type="button" @@click="toList" class="btn btn-outline-dark" value="取消" />
            </div>
        </div>
    </div>
</form>


@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.7/axios.min.js" integrity="sha512-NQfB/bDaB8kaSXF8E77JjhHG5PM6XVRxvHzkZiwl3ddWCEPBa23T76MuWSwAJdMGJnmQqM0VeY9kFszsrBEFrQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        Vue.createApp({
            data() {
                return {
                    empName: '',
                    startTime: '',
                    endTime: '',
                    status: false,
                    reason: '',
                    overtimeResult: '',
                }
            },
            methods: {
                getEmpId() {
                    let self = this;
                    fetch(`/api/OvertimeApplicationsApi/GetEmoloyeeName`).then(res => res.json())
                        .then(result => {
                            self.empName = result.employeeName;
                        })
                },
                toList() {
                    location.href = "/ApplicationForm/OvertimeRequest";
                },

                getTimeRange() {
                    let self = this;
                    $('#timeRange').daterangepicker({
                        "startDate": this.getToday(),
                        "endDate": this.getToday(),
                        timePicker: true,
                        timePickerIncrement: 15,
                        locale: {
                            format: 'YYYY-MM-DD HH:mm'
                        }
                    },
                        function (start, end, _) {
                            self.startTime = new Date(start);
                            self.endTime = new Date(end);
                            self.countOvertimeMins();
                            // self.starttime = moment(self.starttime);
                            // self.endtime = moment(self.endtime);
                            console.log(self.startTime, self.endTime);
                        });
                },
                getToday() {
                    return moment().format("YYYY-MM-DD HH:mm")
                },
                countOvertimeMins() {
                    let self = this;
                    self.overtimeResult = '';
                    if (self.startTime && self.endTime) {
                        const start = self.startTime;
                        const end = self.endTime;
                        const durationMilliseconds = end - start;
                        const durationMinutes = Math.floor(durationMilliseconds / (60 * 1000));
                        const hours = Math.floor(durationMinutes / 60);
                        const minutes = durationMinutes % 60;
                        if (hours === 0) {
                            self.overtimeResult = `${minutes} 分鐘`;
                        } else if (minutes === 0) {
                            self.overtimeResult = `${hours} 小時`;
                        } else {
                            self.overtimeResult = `${hours} 小時 ${minutes} 分鐘`;
                        }
                    } else {
                        self.overtimeResult = '';
                    }
                },
                sendOvertimeRequest() {
                    let self = this;
                    axios.post("/api/OvertimeApplicationsApi/Create", {
                        startTime: self.startTime,
                        endTime: self.endTime,
                        reason: self.reason,
                        status: self.status,
                    }).then(response => {
                        console.log(response);
                        if (response.data == true) {
                            alert("新增成功");
                        } else {
                            alert("新增失敗");
                        }
                    });
                },
                isValid(string) {
                    const isValidData = Date.parse(string);
                    return !isNaN(isValidData);
                },
            },
            mounted() {
                this.getEmpId();
                this.getTimeRange();


            }
        }).mount("#app");
    </script>
}