@{
    Layout = "_LoginLayout";
}

<div class="login-logo">
    <img src="~/img/logo_tra.png" class="w-25" />
</div>

<div class="card">
    <div class="card-body login-card-body">
        <p class="login-box-msg">歡迎使用TimeWaltz系統</p>

        <form asp-action="Login" asp-controller="Account" method="post">
            @{
                if (!string.IsNullOrEmpty(ViewBag.Error))
                {
                    <div class="alert alert-danger" role="alert">@ViewBag.Error</div>
                }
            }
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Account" name="Account" value="admin">
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-envelope"></span>
                    </div>
                </div>
            </div>
            <div class="input-group mb-3">
                <input type="password" class="form-control" placeholder="Password" name="Password" value="thm104">
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-lock"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-8">
                </div>
                
                <div class="col-4">
                    <button type="submit" class="btn btn-primary btn-block">登入</button>
                </div>
                
            </div>
        </form>

    </div>
    
</div>


