@model AccountViewModel

<div class="container">

    <form asp-action="Account" asp-controller="Setting" method="post" enctype="multipart/form-data">
        <div asp-validation-summary="All" class="text-danger"></div>

        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="Account" class="control-label"></label>
                <input asp-for="Account" class="form-control" />
                <span asp-validation-for="Account" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <input id="select" type="submit" value="查詢" />
        </div>
    </form>
</div>

<a src="">新增帳號</a>

<table>
    帳號
    名稱
    員工
    修改
    刪除

</table>