@model WebApplication1.Models.SettingViewModels.UserCreateViewModel
@{
    Layout = "_Layout";
    ViewBag.title = "帳號設定 | ";
}

<div class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <h1 class="m-0">帳號新增</h1>
            </div>
        </div>
    </div>
</div>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <form asp-action="AccountCreate" asp-controller="Setting" method="post">
                        <div class="card-body">
                            <div class="col-md-4">
                                <div asp-validation-summary="All" class="text-danger" style="color:red"></div>
                                <div class="form-group">
                                    <label asp-for="Account" class="control-label">帳號</label>
                                    <input asp-for="Account" class="form-control" />
                                    <span asp-validation-for="Account" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label asp-for="Password" class="control-label">密碼</label>
                                    <input asp-for="Password" type="password" class="form-control" />
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label asp-for="EmployeesName" class="control-label">姓名</label>
                                    <input asp-for="EmployeesName" class="form-control" />
                                    @* <select asp-for="EmployeesName" class="form-control" asp-items="@Model.EmployeesNameSelectList"></select> *@
                                    <span class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label asp-for="DepartmentName" class="control-label">單位</label>
                                    <select asp-for="DepartmentName" class="form-control" asp-items="@Model.DepartmentNameSelectList"></select>
                                    <span class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label asp-for="Stop" class="control-label">啟用/停用</label>
                                    <select asp-for="Stop" class="form-control">
                                        <option value="false">啟用</option>
                                        <option value="true">停用</option>
                                    </select>
                                    <span class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <input id="select" type="submit" class="btn btn-primary" value="新增" />
                            <a asp-controller="Setting" asp-action="Account" class="btn btn-outline-dark">返回</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

