@{
    Layout = "_Layout";
    ViewBag.title = "帳號瀏覽";
}

<div id="app" class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label for="帳號">帳號</label>
                                <input type="text" class="form-control" id="帳號" v-model="search.account">
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label>單位</label>
                                <select class="form-control" v-model="search.department">
                                    <option value="">請選擇</option>
                                    <option v-for="d in department" :value="d.id">{{d.name}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label for="姓名">姓名</label>
                                <input type="text" class="form-control" id="姓名" v-model="search.name">
                            </div>
                        </div>
                    </div>
                    <div>
                    </div>
                </h3>
                <div class="card-tools">
                    <div class="input-group">
                        <div class="input-group-append">
                            <a href="/setting/AccountCreate" class="btn btn-outline-dark pull-right">
                                新增帳號
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap">
                    <thead>
                        <tr>
                            <th>
                                帳號
                            </th>
                            <th>
                                姓名
                            </th>
                            <th>
                                單位
                            </th>
                            <th>
                                停用/啟用
                            </th>
                            <th>
                                修改/刪除
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="emp in filterEmp">
                            <td class="text-center">{{emp.account}}</td>
                            <td class="text-center">{{emp.name}}</td>
                            <td class="text-center">{{emp.departmentName}}</td>
                            <td class="text-center">{{stopStatusFormat(emp.stop)}}</td>
                            <td class="text-center">
                                <a :href="'/setting/AccountEdit/'+emp.id" class="btn btn-outline-dark">
                                    修改
                                </a>
                                <button type="button" class="btn btn-outline-danger" @@click="deleteEmp(emp)">
                                    刪除
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="card-footer clearfix">
                <paginate 
                    :page-count="totalPages"
                    :click-handler="pageChange"
                    :prev-text="'上一頁'"
                    :next-text="'下一頁'"
                    :container-class="'pagination justify-content-center'">
                </paginate>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="https://unpkg.com/vuejs-paginate-next@latest/dist/vuejs-paginate-next.umd.js"></script>
    <script>
        const app = Vue.createApp({
            components: {
                paginate: VuejsPaginateNext,
            },
            data() {
                return {
                    currentPage:1,
                    pageSize:10,
                    search:{
                        account:"",
                        department:"",
                        name:""
                    },                    
                    employee: [],
                    department: [],
                }
            },
            computed: {
                totalPages() {
                    return Math.ceil(this.filterEmp.length / this.pageSize);
                },
                filterEmp() {
                    let emp = this.employee;
                    if (this.search.account != "") {
                        emp = emp.filter(x => x.account.includes(this.search.account))
                    }
                    if (this.search.name != "") {
                        emp = emp.filter(x => x.name.includes(this.search.name))
                    }
                    if (this.search.department != "") {
                        emp = emp.filter(x => x.departmentId == this.search.department)
                    }
                    const start = (this.currentPage - 1) * this.pageSize;
                    const end = start + this.pageSize;
                    return emp.slice(start, end);
                }
            },
            methods: {
                deleteEmp(emp) { 
                    if (confirm(`確定要刪除員工${emp.name}?`)) {
                        axios.delete('/api/setting/delEmployee', {
                            params: { id: emp.id },
                        }).then(res => {
                            console.log(res.data);
                            this.getAllEmployee();
                        })
                    }
                },
                stopStatusFormat(status) {
                    return status ? "停用" : "啟用"
                },
                getAllEmployee() {
                    let self = this;
                    axios('/api/setting/AllEmployee').then(res => {
                        console.log(res.data);
                        self.employee = res.data;
                    })
                },
                getDepartment() {
                    let self = this;
                    axios('/api/setting/AllDepartment').then(res => {
                        console.log(res.data);
                        self.department = res.data;
                    })
                },
                pageChange(num) {
                    this.currentPage = num
                }
            },
            mounted() {
                this.getAllEmployee();
                this.getDepartment();
            }
        }).mount('#app')
    </script>
}
