@{
    ViewBag.title = "簽核";
}

<div class="secion mt-2" id="app">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title d-flex justify-content-between">
                <span>簽核單據列表</span>
            </h3>
        </div>
        <div class="card-body">
            <div class="table-responsive text-center">
                <table class="table">
                    <thead>
                        <tr>
                            <th>項次</th>
                            <th>表單類別</th>
                            <th>申請人</th>
                            <th>簽核</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(ApprlList,index) in ApprovalList">
                            <td>{{++index}}</td>
                            <td>{{tableTypeName(ApprlList.tableType)}}</td>
                            <td>{{ApprlList.employeeName}}</td>
                            <td>
                                <a :href="'/employee/query/ApprovalCreate/'+ApprlList.id">
                                    簽核
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <h3 class="card-title d-flex justify-content-between">
                <span>歷史簽核單據列表</span>
            </h3>
        </div>
        <div class="card-body">
            <div class="table-responsive text-center">
                <table class="table">
                    <thead>
                        <tr>
                            <th>項次</th>
                            <th>表單類別</th>
                            <th>申請人</th>
                            <th>簽核</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(HistoryList,index) in ApprovalHistoryList">
                            <td>{{++index}}</td>
                            <td>{{tableTypeName(HistoryList.tableType)}}</td>
                            <td>{{HistoryList.employeeName}}</td>
                            <td>
                                <a href="#" @@click="toDetail(HistoryList.id,$event)">詳細</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts {

    <script src="https://unpkg.com/vuejs-paginate-next@latest/dist/vuejs-paginate-next.umd.js"></script>
    <script>
        Vue.createApp({
            data() {
                return {
                    ApprovalList: [],
                    ApprovalHistoryList: [],
                    search: '',
                }
            },
            methods: {

                filterByVacationType() {
                    if (this.search != '') return this.ApprovalList.filter(x => x.vacationType.includes(this.search));
                    return this.ApprovalList;
                },

                getApprovalListData() {
                    let self = this
                    axios("/mobile/api/Approval/GetAllApprovalData").then(res => {
                        console.log(res.data);
                        self.ApprovalList = res.data;
                    })
                },
                tableTypeName(tableType) {
                    return tableType === 0 ? "加班單" : tableType === 1 ? "請假單" : "補打卡單"
                },

                getApprovalHistoryListData() {
                    let self = this
                    axios("/mobile/api/Approval/GetHistoryAllApprovalData").then(res => {
                        console.log(res.data);
                        self.ApprovalHistoryList = res.data;
                    })
                },
                toDetail(id, event) {
                    event.preventDefault();
                    location.href = `/employee/query/ApprovalDetail/${id}`;
                },

            },
            mounted() {
                this.getApprovalListData()
                this.getApprovalHistoryListData()
            }
        }).mount("#app");

    </script>


}