@{
    ViewBag.title = "簽核";
}

<style>
    .thinkcss-right {
        text-align: right;
    }
</style>
<div id="app">
    <div class="row">
        <div class="form-inline col-sm-6 col-md-8">
            <div class="form-group col-sm-12">
            </div>
        </div>
    </div>

    <div class="card-body">
        <div id="example2-wrapper" class="dataTables_wrapper dt-bootstrap4">
            <div class="row">
                <div class="col-sm-12 col-md-6"></div>
                <div class="col-sm-12 col-md-6"></div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <table id="example2"
                           class="table table-bordered table-hover dataTable dtr-inline"
                           aria-describedby="example2_info">
                        <thead>
                            <tr>
                                <th >表單名稱</th>
                                <th>申請人</th>
                                <th>簽核</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="ApprlList in ApprovalList">
                                <td class="text-center">{{tableTypeName(ApprlList.tableType)}}</td>
                                <td class="text-center">{{ApprlList.employeeName}}</td>
                                <td>
                                    <a :href="'/employee/query/ApprovalCreate/'+ApprlList.id" class="btn btn-outline-dark">
                                        簽核
                                    </a>
                                </td>
                            </tr>
                        </tbody>

                    </table>
                </div>
            </div>

        </div>
    </div>
</div>
@section Scripts {

    <script src="https://unpkg.com/vuejs-paginate-next@latest/dist/vuejs-paginate-next.umd.js"></script>
    <script>
        Vue.createApp({
            data() {
                return {
                    ApprovalList: [],
                    search: '',
                }
            },
            methods: {

                filterByVacationType() {
                    if (this.search != '') return this.ApprovalList.filter(x => x.vacationType.includes(this.search));
                    return this.ApprovalList;
                },

                getApprovalListData() {
                    let self = this
                    axios("/mobile/api/Approval/GetAllApprovalData").then(res => {
                        console.log(res.data);
                        self.ApprovalList = res.data;
                    })
                },
                tableTypeName(tableType) {
                    return tableType === 0 ? "加班單" : tableType === 1?"請假單":"補打卡單"
                },
            },
            mounted() {
                this.getApprovalListData()
            }
        }).mount("#app");

    </script>


}