@{
    Layout = "_Layout";
    ViewData["Title"] = "請假申請查詢";
}

<div class="secion mt-2" id="app">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title d-flex justify-content-between">
                <span>請假申請查詢</span>
            </h3>
        </div>
        <div class="card-body">

            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">項次</th>
                            <th scope="col">請假日期</th>
                            <th scope="col">假別</th>
                            <th scope="col">狀態</th>
                            <th scope="col">詳細</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="item in leaveRequestListData">
                            <td>{{item.value}}</td>
                            <td class="dtr-control">{{item.date}}</td>
                            <td>{{item.startTime}}</td>
                            <td>{{item.endTime}}</td>
                            <td>{{item.vacationType}}</td>
                            <td>{{item.approvalEmpName}}</td>
                            <td>
                                <a href="#" @@click="edit(item.id, $event)">詳細</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>

@section Scripts {
    <script>
        Vue.createApp({
            data() {
                return {
                    leaveRequestListData: [],
                    id: null,
                    employeeId: null,
                    date: null,
                    startTime: null,
                    endTime: null,
                    leaveHours: null,
                    approvalEmpName: '',
                    vacationType: '',
                    agentEmployeeName: '',
                    approvalStatus: '',
                }
            },
            methods: {
                edit(id, event) {
                    event.preventDefault();
                    location.href = `/PersonalRecord/leaveEdit/${id}`

                },
                getListData() {
                    let self = this;
                    fetch("/api/LeaveApi/List").then(res => res.json()).then(result => {
                        console.log(result)
                        self.leaveRequestListData = result
                        self.date = result.startDate + '~' + result.endDate
                        console.log(self.date);
                    })
                },
            },
            mounted() {
                this.getListData();
            },
        }).mount('#app')
    </script>
}