@{
    Layout = "_Layout";
    ViewData["Title"] = "請假申請";
}

<div class="secion mt-2" id="app">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title d-flex justify-content-between">
                <span>請假單申請單據</span>
            </h3>
        </div>
        <div class="card-body">
            <div class="row form-group basic">
                <label class="col-form-label">申請人</label>
                <input type="text" class="form-control" disabled id="employeeName" v-model="employeeName" readonly>

                <i class="clear-input">
                    <ion-icon name="close-circle" role="img" class="md hydrated" aria-label="close circle"></ion-icon>
                </i>
            </div>
            <div class="form-group basic">
                <div class="input-wrapper">
                    <label class="col-form-label">請假期間</label>
                    <input class="form-control" v-model="timeRange" readonly>

                        <i class="clear-input">
                            <ion-icon name="close-circle" role="img" class="md hydrated" aria-label="close circle"></ion-icon>
                        </i>                                        
                </div>
            </div>
            <div class="form-group basic">
                <div class="input-wrapper">
                    <label class="col-form-label" for="vacationType">假別</label>
                    <input class="form-control" disabled id="vacationType" :value="vacationType">

                    <i class="clear-input">
                        <ion-icon name="close-circle" role="img" class="md hydrated" aria-label="close circle"></ion-icon>
                    </i>
                </div>
            </div>
            <div class="form-group basic">
                <div class="input-wrapper">
                    <label class="col-form-label" for="agentEmployeeName">代理人選擇</label>
                    <input class="form-control" disabled id="agentEmployeeName" :value="agentEmployeeName">

                    <i class="clear-input">
                        <ion-icon name="close-circle" role="img" class="md hydrated" aria-label="close circle"></ion-icon>
                    </i>
                </div>
            </div>
            <div class="form-group basic">
                <div class="input-wrapper">
                    <label class="col-form-label" for="approvalEmpName">代理人選擇</label>
                    <label></label>
                    <input class="form-control" disabled id="approvalEmpName" :value="approvalEmpName">

                    <i class="clear-input">
                        <ion-icon name="close-circle" role="img" class="md hydrated" aria-label="close circle"></ion-icon>
                    </i>
                </div>
            </div>
            <div class="form-group basic">
                <div class="input-wrapper">
                    <label class="col-form-label" for="approvalEmpName">審核階段</label>
                    <input class="form-control" disabled id="approvalEmpName" :value="approvalStatus">

                    <i class="clear-input">
                        <ion-icon name="close-circle" role="img" class="md hydrated" aria-label="close circle"></ion-icon>
                    </i>
                </div>
            </div>
            <div class="form-group basic">
                <div class="input-wrapper">
                    <label class="col-form-label">原因</label>
                    <textarea disabled v-model="reason" class="form-control" rows="3"
                              control-id="ControlID-13" readonly></textarea>
                    <i class="clear-input">
                        <ion-icon name="close-circle" role="img" class="md hydrated" aria-label="close circle"></ion-icon>
                    </i>
                </div>
            </div>
        </div>

        <div class="card-footer">

            <div class="row justify-content-around">
                <button type="button" class="btn btn-dribbble" @@click="toList">
                    <ion-icon name="close-outline" role="img"
                              class="md hydrated" aria-label="close outline"></ion-icon>瀏覽單據
                </button>
            </div>
        </div>
    </div>
</div>
@section Scripts {

    <script>
        const vueLeave = Vue.createApp({
            data() {
                return {
                    id: '',
                    employeeName: '',
                    timeRange: '',
                    vacationType: '',
                    reason: '',
                    approvalEmpName: '',
                    agentEmployeeName: '',
                    leaveHours: '',
                    approvalStatus: '',
                    approvalRemark: '',
                }
            },
            methods: {
                toList() {
                    location.href = 'employee/query/leave'
                },
                getLeaveData() {
                    let self = this;
                    fetch(`/mobile/LeaveApi/Edit/${self.id}`).then(res => res.json()).then(result => {
                        console.log(result);
                        self.agentEmployeeName = result.agentEmployeeName
                        self.approvalEmpName = result.approvalEmpName
                        self.approvalRemark = result.approvalRemark
                        self.approvalStatus = result.approvalStatus
                        self.leaveHours = result.leaveHours
                        self.employeeName = result.employeeName
                        self.timeRange = result.timeRange
                        self.vacationType = result.vacationType
                        self.reason = result.reason
                        console.log(self.timeRange)
                    })
                },
                checkId() {
                    var url = location.pathname;
                    var match = url.match(/\/(\d+)$/);

                    if (match) {
                        var lastNumber = parseInt(match[1]);
                        this.id = lastNumber;
                    } else {
                        location.href = "/employee/query/Leave";
                    }

                },
            },
            mounted() {
                this.checkId();
                this.getLeaveData();
            }
        }).mount("#app");
    </script>

}

