@{
    Layout = "_Layout";
    ViewData["Title"] = "請假申請查詢";
}

<div class="secion mt-2" id="app">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title d-flex justify-content-between">
                <span>請假申請查詢</span>
                <a @@click="toCreate" class="iconedbox bg-success">
                    <ion-icon name="add" role="img" class="md hydrated" aria-label="add"></ion-icon>
                </a>
            </h3>
        </div>
        <div class="card-body">
            <div class="table-responsive text-center">
                <table class="table">
                    <thead>
                        <tr>
                            <th v-bind:title="title('now')" >{{ title('now') }}</th>
                            <th v-bind:title="title('date')">{{ title('date') }}</th>
                            <th v-bind:title="title('vacationType')">{{ title('vacationType') }}</th>
                            <th v-bind:title="title('approvalStatus')">{{ title('approvalStatus') }}</th>
                            <th v-bind:title="title('Details')">{{ title('Details') }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(item, index) in leaveRequestListData">
                            <td>{{++index}}</td>
                            <td>{{item.date}}</td>
                            <td>{{item.vacationType}}</td>
                            <td>{{item.approvalStatus}}</td>
                            <td>
                                <a href="#" @@click="edit(item.id, $event)">詳細</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>

@section Scripts {
    <script>
        Vue.createApp({
            data() {
                return {
                    leaveRequestListData: [],
                    id: null,
                    employeeId: null,
                    date: null,
                    vacationType: '',
                    approvalStatus: '',
                }
            },
            computed: {
                title() {
                    return key => {
                        const localizationData = {
                            'now': '項次',
                            'date': '請假日期',
                            'vacationType': '假別名稱',
                            'approvalStatus': '審核狀態',
                            'Details': '詳細資料'
                        };
                        return localizationData[key] || key;
                    };
                }

            },
            methods: {
                edit(id, event) {
                    event.preventDefault();
                    location.href = `/employee/query/leavedetail/${id}`;
                },
                getListData() {
                    let self = this;
                    fetch("/mobile/LeaveApi/List").then(res => res.json()).then(result => {
                        console.log(result)
                        self.leaveRequestListData = result;
                    })
                },
                toCreate() {
                    location.href = `/employee/event/LeaveRequest`;
                },
            },
            mounted() {
                this.getListData();
            },
        }).mount('#app')
    </script>
}