@{
    Layout = "_Layout";
    ViewBag.title = "新增部門";
}
<div class="row" id="app">
    <div class="col-md">
        <form asp-action="DepartmentCreate" asp-asp-controller="BasicSetting" method="post">

            <div class="card-body">
                <div class="form-group">
                    <label name="DepartmentName" class="control-label">部門名稱</label>
                    <input name="DepartmentName" class="form-control col-sm-3" v-model="departmentName"/>
                </div>
                <div class="form-group">
                    <label class="control-label">部門主管</label>
                    <select class="form-control col-sm-3" v-model="employeesId">
                        <option value="" disabled>--請選擇--</option>
                        <option v-for="item in employeeNameSelectList" :value="item.value">{{item.text}}</option>
                    </select>
                    <span class="text-danger"></span>
                </div>                
            </div>
            <div class="card-footer">
                <input type="button" value="送出" @@click="send" class="btn btn-primary" />
                <a asp-controller="BasicSetting" asp-action="Department" class="btn btn-outline-dark">返回</a>
            </div>
        </form>
    </div>
</div>
@section Scripts{

    <script>
        Vue.createApp({
            data() {
                return {
                    employeeNameSelectList: [],
                    employeesId: '',
                    departmentName: '',
                }
            },
            methods: {
                send() {
                    let self = this;
                    axios.post("/api/DepartmentApi/Create", {
                        departmentName : self.departmentName,
                        employeesId : self.employeesId,
                    })
                        .then((response) => console.log(response))
                        .catch((error) => console.log(error));
                },
                getDropDownList() {
                    let self = this;
                    axios.get("/api/DepartmentApi/GetDropDownList")
                    .then((response) => {
                        console.log(response);
                            self.employeeNameSelectList = response.data.employeeNameSelectList;
                    }).then((error) => console.log(error));
                }
            },
            mounted() {
                this.getDropDownList();
            },
        }).mount('#app');
    </script>

}