@{
    Layout = "_Layout";
    ViewBag.title = "部門設定 | ";
}

<div class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <h1 class="m-0">編輯部門</h1>
            </div>
        </div>
    </div>
</div>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <form asp-controller="BasicSetting" asp-action="DepartmentEdit" method="post" id="app">

                        <div class="card-body">
                            <input name="Id" type="hidden" />

                            <div class="form-group">
                                <label name="DepartmentName" class="control-label">部門名稱</label>
                                <input name="DepartmentName" class="form-control col-sm-3" v-model="departmentName" />
                            </div>
                            <div class="form-group">
                                <label class="control-label">部門主管</label>
                                <select class="form-control  col-sm-3" name="EmployeesId" v-model="employeesId">
                                    <option value="" disabled>--請選擇--</option>
                                    <option v-for="item in employeeNameSelectList" :value="item.value">{{item.text}}</option>
                                </select>
                                <span class="text-danger"></span>
                            </div>


                        </div>
                        <div class="card-footer">
                            <div class="row">
                                <div class="col">
                                    <input type="button" value="送出" @@click="send" class="btn btn-primary" />
                                    <a asp-controller="BasicSetting" asp-action="Department" class="btn btn-outline-dark">返回</a>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</section>



@section Scripts {
    <script>
        Vue.createApp({
            data() {
                return {
                    employeeNameSelectList: [],
                    employeesId: '',
                    departmentName: '',
                    id: null,
                }
            },
            methods: {
                send() {
                    let self = this;
                    axios.post(`/api/DepartmentApi/Edit/${self.id}`, {
                        id: self.id,
                        employeesId: self.employeesId,
                        departmentName: self.departmentName
                    })
                        .then((response) => {
                            console.log(response)
                            if (response.status) {
                                Swal.fire({
                                    icon: "success",
                                    title: "儲存成功!",
                                    confirmButtonText: '返回',
                                    showClass: {
                                        popup: `animate__animated animate__fadeInUp animate__faster`
                                    },
                                    hideClass: {
                                        popup: `animate__animated animate__fadeOutDown animate__faster`
                                    }
                                }).then((result) => {
                                    if (result.value) {
                                        location.href = '/basicsetting/department'
                                        this.getListData();
                                    }
                                });
                            } else {
                                Swal.fire({
                                    icon: "error",
                                    title: "儲存失敗!",
                                    confirmButtonText: '返回',
                                    showClass: {
                                        popup: `animate__animated animate__fadeInUp animate__faster`
                                    },
                                    hideClass: {
                                        popup: `animate__animated animate__fadeOutDown animate__faster`
                                    }
                                });
                            }
                        })
                        .then((error) => console.log(error));
                },
                getDropDownList() {
                    let self = this;
                    axios.get("/api/DepartmentApi/GetDropDownList")
                        .then((response) => {
                            console.log(response);
                            self.employeeNameSelectList = response.data.employeeNameSelectList;
                        }).then((error) => console.log(error));
                },
                getEditData() {
                    let self = this;
                    axios(`/api/DepartmentApi/GetEditData/${self.id}`)
                        .then((response) => {
                            console.log(response);
                            self.employeesId = response.data.employeesId;
                            self.departmentName = response.data.departmentName;
                        }).then((error) => console.log(error));
                },
                checkId() {
                    var url = location.pathname;
                    var match = url.match(/\/(\d+)$/);

                    if (match) {
                        var lastNumber = parseInt(match[1]);
                        this.id = lastNumber;
                    } else {
                        location.href = "/BasicSetting/department";
                    }
                },
            },
            mounted() {
                this.getDropDownList();
                this.checkId();
                this.getEditData();
            },
        }).mount('#app');
    </script>


}
