@model WebApplication1.Models.EditVacationTypeViewModel

@{
    Layout = "_Layout";
    ViewData["Title"] = "修改假別";
}
<form asp-action="EditVacationType" asp-controller="BasicSetting" method="post" id="app">
    <section class="content">
        <div class="card-body">
            <input name="id" type="hidden"/>
            
            <div class="form-group">
                <label  class="control-label">假別名稱</label>
                <input  class="form-control" v-model="vacationType" />
                <span  class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">可請性別限制</label>
                <select name="Gender" class="form-control" v-model="gender">
                    <option v-for="item in genderSelectItems"  :value="item.value">{{item.text}}</option>
                </select>
                <span class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">可請周期</label>
                <select name="Cycle" class="form-control" v-model="cycle">
                    <option v-for="item in cycleSelectItems" :value="item.value">{{item.text}}</option>
                </select>
                <span class="text-danger"></span>
            </div>
            <div class="form-group">
                <label  class="control-label">可請天數</label>
                <input  class="form-control" v-model="numberOfDays" />
                <span  class="text-danger"></span>
            </div>
            <div class="form-group">
                <label  class="control-label">最小可請時數</label>
                <input  class="form-control" v-model="minVacationHours" />
                <span  class="text-danger"></span>
            </div>
            <div class="form-group">
            </div>


            <div class="card-footer">
                <div class="row float-right">
                    <div class="col ">                        
                        <input type="submit" value="送出" class="btn btn-primary" />
                        <a asp-action="ListVacationType" asp-controller="BasicSetting" class="btn btn-primary">返回</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</form>
@section Scripts {
    <script>
        Vue.createApp({
            data() {
                return {
                    genderSelectItems: [],
                    cycleSelectItems: [],
                    vacationType: '',
                    gender: 0,
                    cycle: 0,
                    numberOfDays: 0,
                    minVacationHours: 0,
                }
            },
            methods: {
                send() {
                    let self = this;
                    fetch("/api/VacationDetailsApi/EditVacationType", {
                        method: "POST",
                        body: JSON.stringify({
                            VacationType: vacationType,
                            Gender: gender,
                            Cycle: cycle,
                            NumberOfDays: numberOfDays,
                            MinVacationHours: minVacationHours,
                        }),
                        headers: {
                            "content-type": "application/json",
                        },
                    }).then(res => res.json()).then(result => console.log(result))
                },
            },
            mounted() {

                const urlParams = new URLSearchParams(window.location.search);
                const id = urlParams.get('id');
                fetch(`https://localhost:7238/api/VacationDetailsApi/EditVacationType/${id}`).then(res => res.json())
                    .then(result => {
                        console.log(result);
                        this.genderSelectItems = result.genderSelectItems;
                        this.cycleSelectItems = result.cycleSelectItems;
                        this.vacationType = result.vacationType;
                        this.numberOfDays = result.numberOfDays;
                        this.minVacationHours = result.minVacationHours;
                    })
            }
        }).mount("#app");
    </script>
}
