@{
    Layout = "_Layout";
    ViewBag.title = "彈性上班設定 | ";
}

<div class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <h1 class="m-0">彈性上班設定</h1>
            </div>
        </div>
    </div>
</div>
<section class="content">
    <div class="container-fluid">
        <div class="row" id="app">
            <div class="col-12">
                <div class="card">
                    <form method="post">
                        <div class="card-body">
                            <div class="row mb-2">
                                <label class="col-form-label">彈性上下班時間：</label>
                                <input type="text" v-model="flexibleTime" class="col-sm-1 form-control form-control-border">
                                <span class="input-group-text">分鐘</span>
                            </div>

                            <div class="row mb-2">
                                <input class=" mr-2" type="checkbox" id="flexCheck" v-model="moveUp">
                                <label class="col-form-label" for="flexCheck">可提前上班</label>
                            </div>

                        </div>
                        <div class="card-footer">
                            <input @@click="saveFlextime" type="button" class="btn btn-primary" value="儲存" />

                        </div>

                    </form>
                </div>
            </div>

        </div>
    </div>
</section>

@section Scripts {
    <script>
        Vue.createApp({
            data() {
                return {
                    id: '',
                    flexibleTime: '',
                    moveUp: false,
                }
            },
            methods: {
                getFlextime() {
                    let self = this;
                    axios("/api/FlextimeApi/getFlextime")
                        .then(response => {
                            self.id = response.data.id;
                            self.flexibleTime = response.data.flexibleTime;
                            self.moveUp = response.data.moveUp;
                        });
                },
                saveFlextime() {
                    let self = this;
                    axios.post("/api/FlextimeApi/saveFelxtime", {
                        id: self.id,
                        flexibleTime: self.flexibleTime,
                        moveUp: self.moveUp,
                    }).then(response => {
                        if (response.data == true) {
                            Swal.fire({
                                icon: "success",
                                title: "修改成功!",
                                confirmButtonText: '返回',
                                showClass: {
                                    popup: `animate__animated animate__fadeInUp animate__faster`
                                },
                                hideClass: {
                                    popup: `animate__animated animate__fadeOutDown animate__faster`
                                }
                            });
                        } else {
                            Swal.fire({
                                icon: "error",
                                title: "修改失敗!",
                                confirmButtonText: '返回',
                                showClass: {
                                    popup: `animate__animated animate__fadeInUp animate__faster`
                                },
                                hideClass: {
                                    popup: `animate__animated animate__fadeOutDown animate__faster`
                                }
                            });
                        }
                    });
                },
            },
            mounted() {
                this.getFlextime();
            }
        }).mount('#app');
    </script>
}