@{
    ViewData["Title"] = "編輯";
}

<form asp-action="EditPersonalData" asp-asp-controller="BasicSetting" id="app">
    <section class="content">
        <div class="card-body">           
            <div class="form-group">
                <label class="control-label">姓名</label>
                <input class="form-control" v-model="name"/>
            </div>
            <div class="form-group">
                <label class="control-label">部門</label>
                <select class="form-control" v-model="departmentId">
                    <option v-for="item in departmentNameSelectItem" :value="item.value">{{item.text}}</option>
                </select>                
                <span class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">班別名稱</label>
                <select class="form-control" v-model="shiftScheduleId">
                    <option v-for="item in shiftNameSelectItems" :value="item.value">{{item.text}}</option>
                </select>
                
                <span class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label class="control-label">郵件地址</label>
                <input class="form-control" v-model="email" />
            </div>
            <div class="card-footer">
                <div class="row float-right">
                    <div class="col ">
                        <input type="button" value="送出" class="btn btn-primary" @@click="send(id)" />
                        <a asp-controller="BasicSetting" asp-action="ListPersonalData" class="btn btn-outline-success">返回</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</form>
@section Scripts{
    <script>
        Vue.createApp({
            data() {
                return {
                    id: null,
                    departmentNameSelectItem: [],
                    shiftNameSelectItems: [],
                    shiftScheduleId: null,
                    email: '',
                    name: '',
                    shiftScheduleId: null,
                }
            },
            methods: {
                send(id) {
                    let self = this;
                    fetch(`/api/PersonalDataApi/Edit/${id}`, {
                        method: "POST",
                        body: JSON.stringify({
                            id: self.id,
                            name: self.name,
                            email: self.email,
                            departmentId: self.departmentId,
                            shiftScheduleId: self.shiftScheduleId,
                        }),
                        headers: {
                            "content-type": "application/json",
                        },
                    }).then(res => res.json()).then(result => { 
                        console.log(result) 
                        if (result.status) {
                            alert("修改成功");
                        } else {
                            alert("修改失敗");
                        }
                        location.href = `/BasicSetting/PersonalData`;
                    });
                },
                getDropDownListData() {
                    let self = this;
                    fetch("/api/PersonalDataApi/GetDepAndShiftDorpDownList").then(res => res.json()).then(result => {
                        console.log(result);
                        self.departmentNameSelectItem = result.departmentNameSelectItem;
                        self.shiftNameSelectItems = result.shiftNameSelectItems;
                    })
                },
                getEditData() {
                    let self = this;
                    fetch(`/api/PersonalDataApi/GetEditData/${this.id}`).then(res => res.json()).then(result => {
                        console.log(result);
                        self.departmentId = result.departmentId;
                        self.email = result.email;
                        self.id = result.id;
                        self.name = result.name;
                        self.shiftScheduleId = result.shiftScheduleId;

                    });
                },
                checkId() {
                    var url = location.pathname;
                    var match = url.match(/\/(\d+)$/);

                    if (match) {
                        var lastNumber = parseInt(match[1]);
                        this.id = lastNumber;
                    } else {
                        location.href = "/BasicSetting/PersonalData";
                    }

                },
            },
            mounted() {
                this.checkId();
                this.getEditData();
                this.getDropDownListData();
            },
        }).mount('#app');
    </script>

}