@model IEnumerable<WebApplication1.Models.BasicSettingViewModels.PersonalDataViewModel>

@{
    Layout = "_Layout";
    ViewData["Title"] = "";
}
<style>
    .thinkcss-right {
        text-align: right;
    }
</style>
<div class="row" id="app">
    <form asp-action="ListVacationType" asp-controller="BasicSetting" method="post">
        <div class="row">
            <div class="form-group col-sm-12">
                <label>查詢：</label>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <input name="QueryName" type="text">
            </div>            
        </div>
        <div class="row">            
            <div class="col form-group">
                <button type="submit" class="btn btn-outline-dark">查詢</button>
            </div>
            <div class="form-group col-12">
                <a asp-controller="BasicSetting" asp-action="PersonalDataCreate" class="btn btn-outline-success">新增</a>
            </div>


        </div>
        

    </form>
    

    <table class="table table-bordered">
        <thead>
        <thead>
            <tr>
                <th>
                    班別名稱
                </th>
                <th>
                    部門
                </th>
                <th>
                    員工名稱
                </th>
                <th>
                    雇傭日期
                </th>
                <th>
                    員工信箱
                </th>
                <th>
                    性別
                </th>
                <th>
                    員工編號
                </th>
                <th></th>
            </tr>
        </thead>
        </thead>
        <tbody>
            <tr v-for="emp in empList" v-for="dep in depName">
                    <td>
                    {{emp.shiftsName}}
                    </td>

                    <td>
                    {{emp.departmentName}}
                    </td>

                    <td>
                    {{emp.name}}
                    </td>

                    <td>
                    {{emp.hireDate}}
                    </td>
                    <td>
                    {{emp.email}}
                    </td>
                    <td>
                    {{emp.gender}}
                    </td>
                    <td>
                    {{emp.employeesNo}}
                    </td>
                    <td>
                        @Html.ActionLink("詳細", "PersonalDataEdit", new {}) |
                        @Html.ActionLink("刪除", "PersonalDataDelete", new { })
                    </td>
                </tr>
            
        </tbody>
    </table>

</div> 
@section Scripts{

    <script>
        Vue.createApp({
            data() {
                return {
                    empList: [],
                    
                }
            },
            methods: {
                getEmpList() {
                    let self = this;
                    fetch("/api/PersonalDataApi/GetPersonalData")
                    .then(res => res.json())
                    .then(result => {
                        self.empList = result;
                    });
                },
                
            },
            mounted(){
                this.getEmpList();
               
            },


        }).mount('#app');

    </script>

}
