@{
    Layout = "_Layout";
    ViewData["Title"] = "員工資料";
}

<div id="app" class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="員工編號">員工編號</label>
                                    <input type="text" class="form-control" id="員工編號" v-model="search.empNo">
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label for="員工姓名">員工姓名</label>
                                    <input type="text" class="form-control" id="員工姓名" v-model="search.empName">
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label for="部門名稱">部門名稱</label>
                                    <input type="text" class="form-control" id="部門名稱" v-model="search.depName">
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label for="班別名稱">班別名稱</label>
                                    <input type="text" class="form-control" id="班別名稱" v-model="search.depName">
                                </div>
                            </div>
                        </div>
                        <div>
                        </div>
                    </h3>
                </div>

                <div class="card-body table-responsive p-0">
                    <table class="table table-hover text-nowrap text-center">
                        <thead>
                            <tr>
                                <th>部門</th>
                                <th>員工編號</th>
                                <th>員工姓名</th>
                                <th>班別</th>
                                <th>詳細</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="emp in filterEmpNo">
                                <td>{{emp.departmentName}}</td>
                                <td>{{emp.employeesNo}}</td>
                                <td>{{emp.name}}</td>
                                <td>{{emp.shiftsName}}</td>
                                <td>
                                    <a href="#" @@click="edit(emp.id, $event)" class="btn btn-outline-primary">編輯</a>
                                    <a href="#" @@click="getOut(emp.id, $event)" class="btn btn-outline-secondary">刪除</a>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>

            </div>
        </div>


</div>
@section Scripts {
    
    <script>
        Vue.createApp({
            data() {
                return {
                    empList: [],
                    formatedHireDate: null,
                    search: {
                        shiftName: '',
                        depName: '',
                        empName: '',
                        empNo: '',

                    },
                }
            },
            computed: {
                filterShiftName() {
                    if (this.search.shiftName) return this.empList.filter(x => x.shiftsName.includes(this.search.shiftName));
                    return this.empList;
                },
                filterDepName() {
                    if (this.search.depName) return this.filterShiftName.filter(x => x.departmentName.includes(this.search.depName));
                    return this.filterShiftName;
                },
                filterEmpName() {
                    if (this.search.empName) return this.filterDepName.filter(x => x.name.includes(this.search.empName));
                    return this.filterDepName;
                },
                filterEmpNo() {
                    if (this.search.empNo) return this.filterEmpName.filter(x => x.employeesNo.includes(this.search.empNo));
                    return this.filterEmpName;
                },
            },
            methods: {
                getOut(id, event) {
                    let self = this
                    event.preventDefault();
                    fetch(`/api/PersonalDataApi/Delete/${id}`, {
                        method: "POST",

                    }).then(res => res.json()).then(result => {
                        if (result.status) {
                            alert("刪除成功")
                            this.getEmpList();
                        } else {
                            alert("刪除失敗")
                        }
                    })


                },
                edit(id, event) {
                    event.preventDefault();
                    location.href = `/BasicSetting/PersonalDataEdit/${id}`

                },
                getEmpList() {
                    let self = this;
                    fetch("/api/PersonalDataApi/GetPersonalData")
                        .then(res => res.json())
                        .then(result => {
                            //emp陣列
                            result.forEach((emp) => {
                                emp.hireDate = moment(emp.hireDate).format("YYYY-MM-DD")
                            })
                            self.empList = result;
                        });
                },
                
            },
            mounted() {
                this.getEmpList();
            },


        }).mount('#app');

    </script>

}
