@{
    ViewData["Title"] = "國定假日設定 | ";
}
<div class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <h1 class="m-0">編輯國定假日</h1>
            </div>
        </div>
    </div>
</div>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <form asp-action="PublicHolidayEdit" asp-asp-controller="BasicSetting" method="post" id="app">
                        <section class="content">
                            <div class="card-body">
                                <div class="form-group">
                                    <label name="HolidayName" class="control-label"></label>
                                    <input name="HolidayName" class="form-control" v-model="holidayName" />
                                    <span class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label name="Date" class="control-label"></label>
                                    <input name="Date" id="dateInput" class="form-control" value="" />
                                    <span class="text-danger"></span>
                                </div>
                            </div>
                            <div class="card-footer">
                                <div class="row">
                                    <div class="col ">
                                        <input type="button" @@click="send" value="送出" class="btn btn-primary" />
                                        <a asp-controller="BasicSetting" asp-action="PublicHoliday" class="btn btn-outline-dark">返回</a>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {


    <script>
        Vue.createApp({
            data() {
                return {
                    id: null,
                    date: null,
                    holidayName: '',
                }
            },
            methods: {                
                getToday() {
                    var now = moment();
                    var today = now.format('YYYY-MM-DD');
                    return today;
                },
                getEditData() {
                    let self = this;
                    console.log(self.id);
                    axios.get(`/api/PublicHolidayApi/GetEditData/${self.id}`).then((response) => {
                        console.log(response)
                        self.holidayName = response.data.holidayName;
                        self.date = response.data.date;
                        self.id = response.data.id;
                    }).then(() => self.getDateRangePicker()).then((error) => console.log(error));
                },
                send() {
                    let self = this;
                    axios.post(`/api/PublicHolidayApi/Edit`, {
                        id: self.id,
                        holidayName: self.holidayName,
                        date: new moment(self.date).format('YYYY-MM-DD').toString(),
                    })
                        .then((response) => {
                            if (response.status) {
                                Swal.fire({
                                    icon: "success",
                                    title: "修改成功!",
                                    confirmButtonText: '返回',
                                    showClass: {
                                        popup: `animate__animated animate__fadeInUp animate__faster`
                                    },
                                    hideClass: {
                                        popup: `animate__animated animate__fadeOutDown animate__faster`
                                    }
                                }).then((result) => {
                                    if (result.value) {
                                        location.href = "/basicsetting/publicholiday";
                                    }
                                });
                            } else {
                                Swal.fire({
                                    icon: "error",
                                    title: "修改失敗!",
                                    confirmButtonText: '返回',
                                    showClass: {
                                        popup: `animate__animated animate__fadeInUp animate__faster`
                                    },
                                    hideClass: {
                                        popup: `animate__animated animate__fadeOutDown animate__faster`
                                    }
                                });
                            }
                        })
                        .then((error) => console.log(error));
                },
                getDateRangePicker() {
                    let self = this;
                    self.date = new moment(self.date).format('YYYY-MM-DD')
                    $('#dateInput').daterangepicker({
                        singleDatePicker: true,
                        'startDate': this.date,
                        locale: {
                            format: 'YYYY-MM-DD'
                        }
                    }, function (start, _, _) {
                        self.date = start
                    });
                },
                checkId() {
                    let self = this;
                    var url = location.pathname;
                    var match = url.match(/\/(\d+)$/);

                    if (match) {
                        var lastNumber = parseInt(match[1]);
                        self.id = lastNumber;
                    } else {
                        location.href = "/BasicSetting/publicholiday";
                    }

                },
            },
            mounted() {
                this.checkId();
                this.getEditData();
                
            },
        }).mount('#app');
    </script>


}