@model WebApplication1.Models.BasicSettingViewModels.ShiftSchedulesEditViewModel

@{
    ViewData["Title"] = "編輯班別設定";
}

<form asp-action="ShiftScheduleEdit" asp-asp-controller="BasicSetting" method="post">
    <section class="content">
        <div class="card-body">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ShiftName" class="control-label"></label>
                <input asp-for="ShiftName" class="form-control" />
                <span asp-validation-for="ShiftName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartTime" class="control-label"></label>
                <input name="StartTime" id="dateInput" value="@Model.StartTime" class="form-control" />
                <span asp-validation-for="StartTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndTime" class="control-label"></label>
                <input name="EndTime" id="dateInput2" value="@Model.EndTime" class="form-control" />
                <span asp-validation-for="EndTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BreakTimeHours" class="control-label"></label>
                <input asp-for="BreakTimeHours" type="number" class="form-control" />
                <span asp-validation-for="BreakTimeHours" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaxAdditionalClockIn" class="control-label"></label>
                <input asp-for="MaxAdditionalClockIn" type="number" class="form-control" />
                <span asp-validation-for="MaxAdditionalClockIn" class="text-danger"></span>
            </div>


            <div class="card-footer">
                <div class="row float-right">
                    <div class="col ">
                        <input type="submit" value="送出" class="btn btn-primary" />
                        <a asp-controller="BasicSetting" asp-action="ShiftSchedule" class="btn btn-outline-success">返回</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</form>
@section Scripts {
    <script>

        $(function () {
            $('#dateInput').daterangepicker({
                singleDatePicker: true,
                timePicker: true,
                locale: {
                    format: 'YYYY/MM/DD hh:mm A'
                }
            });
        });
        $(function () {
            $('#dateInput2').daterangepicker({
                singleDatePicker: true,
                timePicker: true,
                locale: {
                    format: 'YYYY/MM/DD hh:mm A'
                }
            });
        });
    </script>
}