@model IEnumerable<WebApplication1.Models.BasicSettingViewModels.ShiftSchedulesViewModel>
@{
    ViewBag.Title = "班別設定";
}

<div class="row">
    <div class="col-8">


        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>班別名稱</th>
                    <th scope="col">上班時間</th>
                    <th scope="col">下班時間</th>
                    <th scope="col">補卡上限(次)</th>
                    <th>詳細</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ShiftName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.StartTime.TimeOfDay)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EndTime.TimeOfDay)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MaxAdditionalClockIn)
                        </td>
                        <td>
                            <a class="btn btn-outline-primary" href="/basicsetting/ShiftScheduleEdit/@item.Id">編輯</a>
                            <a class="btn btn-outline-secondary" href="/basicsetting/ShiftScheduleDelete/@item.Id">刪除</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


