@{
    Layout = "_Layout";
    ViewData["Title"] = "班別設定 | ";
}

<div class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <h1 class="m-0">新增班別</h1>
            </div>
        </div>
    </div>
</div>
<section class="content">
    <div class="container-fluid">
        <div class="row" id="app">
            <div class="col-12">

                <div class="card">
                    <div class="card-body">
                        <div class="form-group">
                            <label name="shiftsName" class="control-label">班別名稱</label>
                            <input name="shiftsName" class="form-control col-3" v-model="shiftsName" />
                            <span class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label name="StartTime" class="control-label">開始時間</label>
                            <input type="time" name="StartTime" value="" class="form-control col-3" v-model="startTime" />
                            <span class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label name="EndTime" class="control-label">結束時間</label>
                            <input type="time" name="EndTime" value="" class="form-control col-3" v-model="endTime" />
                            <span class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label name="MaxAdditionalClockIn" class="control-label">補卡上限次數</label>
                            <input name="MaxAdditionalClockIn" type="number" class="form-control col-3" v-model.number="maxAdditionalClockIn" />
                            <span class="text-danger"></span>
                        </div>
                    </div>
                    <div class="card-footer">
                        <input type="button" value="送出" @@click="send" class="btn btn-primary" />
                        <a asp-controller="BasicSetting" asp-action="ShiftSchedule" class="btn btn-outline-dark">返回</a>
                    </div>
                </div>

            </div>
        </div>

    </div>
</section>

@section Scripts {
    <script>
        Vue.createApp({
            data() {
                return {
                    shiftsName: '',
                    startTime: '',
                    endTime: '',
                    maxAdditionalClockIn: '',
                }
            },
            methods: {
                getToday() {
                    var now = moment();
                    var today = now.format('YYYY-MM-DD');
                    return today;
                },
                send() {
                    let self = this;                    
                    axios.post('/api/ShiftScheduleapi/create', {
                        shiftsName: self.shiftsName,
                        startTime: new moment(this.getToday() + ' ' + self.startTime).format('YYYY-MM-DDTHH:mm').toString(),
                        endTime: new moment(this.getToday() + ' ' + self.endTime).format('YYYY-MM-DDTHH:mm').toString(),
                        maxAdditionalClockIn: self.maxAdditionalClockIn,
                    })
                        .then((response) => {
                            if (response.status) {
                                Swal.fire({
                                    icon: "success",
                                    title: "新增成功!",
                                    confirmButtonText: '返回',
                                    showClass: {
                                        popup: `animate__animated animate__fadeInUp animate__faster`
                                    },
                                    hideClass: {
                                        popup: `animate__animated animate__fadeOutDown animate__faster`
                                    }
                                }).then((result) => {
                                    if (result.value) {
                                        location.href = "/basicsetting/ShiftSchedule";
                                    }
                                });
                            } else {
                                Swal.fire({
                                    icon: "error",
                                    title: "新增失敗!",
                                    confirmButtonText: '返回',
                                    showClass: {
                                        popup: `animate__animated animate__fadeInUp animate__faster`
                                    },
                                    hideClass: {
                                        popup: `animate__animated animate__fadeOutDown animate__faster`
                                    }
                                });
                            }
                        })
                        .then((error) => console.log(error));
                },
            },
            mounted() {

            },
        }).mount('#app');
    </script>
}

