@model WebApplication1.Models.BasicSettingViewModels.SpecialHolidayViewModel

@{
    ViewData["Title"] = "編輯特休設定";
}

<form asp-action="SpecialHoliday" asp-controller="BasicSetting" method="post">
    <section class="content">
        <div class="card-body">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>            
            <div class="form-group">
                <label asp-for="HowToGive" class="control-label"></label>
                <select asp-for="HowToGive" class="form-control" asp-items="ViewBag.HowToGiveDropDownList"></select>
                <span asp-validation-for="HowToGive" class="text-danger"></span>
            </div>            
            <div class="form-group">
                <label asp-for="GiveDay" class="control-label"></label>
                <input name="GiveDay" id="dateInput" class="form-control" />
                <span asp-validation-for="GiveDay" class="text-danger"></span>
            </div>


            <div class="card-footer">
                <div class="row float-right">
                    <div class="col ">
                        <input type="submit" value="送出" class="btn btn-primary" />
                        <a asp-controller="BasicSetting" asp-action="SpecialHoliday" class="btn btn-outline-success">返回</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</form>

@section Scripts {


    <script>

        $(function () {
            $('#dateInput').daterangepicker({
                singleDatePicker: true,
                locale: {
                    format: 'YYYY/MM/DD'
                }
            });
        });
    </script>


}
