@{
    Layout = "_Layout";
    ViewBag.title = "特殊假日設定 | ";
}

<div class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <h1 class="m-0">編輯特殊假日</h1>
            </div>
        </div>
    </div>
</div>
<section class="content">
    <div class="container-fluid">
        <div class="row" id="app">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="form-group">
                            <label name="SpecialVacationName" class="control-label">特殊假假別名稱：</label>
                            <input name="SpecialVacationName" v-model="specialVacationName" class="form-control" :class="validation.specialVacationName" />
                            <span class="text-danger" v-if="!validation.specialVacationName"></span>
                        </div>
                        <div class="form-group">
                            <label name="Date" class="control-label">日期</label>
                            <input name="Date" id="dateInput" class="form-control" />
                            <span class="text-danger"></span>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <div class="col ">
                                <input type="button" @@click="validateAndSubmit()" value="送出" class="btn btn-primary" />
                                <a asp-controller="BasicSetting" asp-action="SpecialVacation" class="btn btn-outline-dark">返回</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

@section Scripts {
    <script>
        Vue.createApp({
            data() {
                return {
                    id: null,
                    date: null,
                    specialVacationName: '',
                    validation: {
                        specialVacationName: true,
                    },
                }
            },
            methods: {
                checkId() {
                    var url = location.pathname;
                    var match = url.match(/\/(\d+)$/);

                    if (match) {
                        var lastNumber = parseInt(match[1]);
                        this.id = lastNumber;
                        console.log(this.id);
                    } else {
                        location.href = "/BasicSetting/specialvaction";
                    }

                },
                getEditData() {
                    let self = this;
                    axios.get(`/api/SpecialVacationApi/GetEditData/${this.id}`).then((response) => {
                        console.log(response);
                        self.specialVacationName = response.data.specialVacationName;
                        self.date = response.data.date
                    }).then(() => self.getDateRangePicker()).catch((error) => console.log(error));
                },
                send() {
                    let self = this;
                    console.log(self.specialVacationName, self.date, this.date)
                    axios.post(`/api/SpecialVacationApi/edit/${self.id}`,
                        {
                            id: self.id,
                            specialVacationName: self.specialVacationName,
                            date: self.date,
                        })
                        .then((response) => {
                            if (response.status) {
                                alert('修改成功')
                                location.href = `/basicsetting/SpecialVacation`
                            } else {
                                alert('修改失敗')
                            }
                        })
                        .catch((error) => console.log(error));
                },
                validateAndSubmit() {
                    let isValid = true;
                    this.validation.specialVacationName = this.specialVacationName == '' ? false : true;
                    if (this.validation.specialVacationName) {
                        console.log(this.date)
                        this.send();
                    }
                },
                getDateRangePicker() {
                    let self = this;
                    self.date = new moment(self.date).format('YYYY-MM-DD')
                    $('#dateInput').daterangepicker({
                        singleDatePicker: true,
                        'startDate': self.date,
                        locale: {
                            format: 'YYYY-MM-DD'
                        }
                    }, function (start, _, _) {
                        self.date = start.format('YYYY-MM-DD');

                    });
                },
            },
            mounted() {
                this.checkId();
                this.getEditData(); 
                

            },
        }).mount('#app');
    </script>

}