@{
    Layout = "_Layout";
    ViewData["Title"] = "假別設定";
}
<form asp-action="VacationTypeCreate" asp-asp-controller="BasicSetting" method="post" id="app">
    <section class="content">
        <div class="card-body">


            <div class="form-group">
                <label class="control-label">假別名稱</label>
                <input name="VacationType" class="form-control" :class="validation.vacationType" v-model="vacationType" />
                <span class="text-danger" v-if="!validation.vacationType">假別名稱不得為空!</span>
            </div>
            <div class="form-group">
                <label class="control-label">可請性別限制</label>
                <select name="Gender" class="form-control" :class="validation.gender" v-model.number="gender">
                    <option value="">請選擇</option>
                    <option v-for="item in genderSelectItems" :value="item.value">{{item.text}}</option>
                </select>
                <span class="text-danger" v-if="!validation.gender">性別限制不得為空!</span>
            </div>
            <div class="form-group">
                <label class="control-label">可請周期</label>
                <select name="Cycle" class="form-control" :class="validation.cycle" v-model.number="cycle">
                    <option value="">請選擇</option>
                    <option v-for="item in cycleSelectItems" :value="item.value">{{item.text}}</option>
                </select>
                <span class="text-danger" v-if="!validation.cycle">周期不得為空!</span>
            </div>
            <div class="form-group">
                <label class="control-label" >可請天數</label>
                <input type="number" name="NumberOfDays" class="form-control" :class="validation.numberOfDays" v-model.number="numberOfDays" />
                <span class="text-danger" v-if="!validation.numberOfDays">可請天數不得為空!</span>
            </div>
            <div class="form-group">
                <label class="control-label">最小可請時數</label>
                <input type="number" name="MinVacationHours" class="form-control" :class="validation.minVacationHours" v-model.number="minVacationHours" />
                <span class="text-danger" v-if="!validation.minVacationHours">最小可請時數最小可請時數不得為空!</span>
            </div>
            <div class="form-group">
            </div>


            <div class="card-footer">
                <div class="row float-right">
                    <div class="col ">
                        <input @@click="validateAndSubmit" type="button" value="送出" class="btn btn-primary" />
                        <a asp-controller="BasicSetting" asp-action="VacationType" class="btn btn-outline-success">返回</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</form>

@section Scripts {
    <script>
        Vue.createApp({
            data() {
                return {
                    genderSelectItems: [],
                    cycleSelectItems: [],
                    gender: '',
                    cycle: '',
                    vacationType: '',
                    numberOfDays: '',
                    minVacationHours: '',
                    validation: {
                        vacationType: true,
                        gender: true,
                        cycle: true,
                        numberOfDays: true,
                        minVacationHours: true,
                    },
                }
            },
            methods: {
                validateAndSubmit() {
                    let isValid = true;
                    this.validation.vacationType = this.vacationType == '' ? false : true;
                    this.validation.gender = this.gender == null ? false : true;
                    this.validation.cycle = this.cycle == null ? false : true;
                    this.validation.numberOfDays = this.numberOfDays == '' ? false : true;
                    this.validation.minVacationHours = this.minVacationHours == '' ? false : true;
                    if (this.validation.vacationType && this.validation.gender && this.validation.cycle && this.validation.numberOfDays && this.minVacationHours) {
                        this.send();
                    }
                },
                send() {
                    let self = this;
                    console.log(self.vacationType, self.gender, self.cycle, self.numberOfDays, self.minVacationHours)
                    fetch("/api/VacationDetailsApi/VacationCreate", {
                        method: "POST",
                        body: JSON.stringify({
                            Vacationtype: self.vacationType,
                            Gender: self.gender,
                            Cycle: self.cycle,
                            NumberOfDays: self.numberOfDays,
                            minVacationHours: self.minVacationHours,
                        }),
                        headers: {
                            "content-type": "application/json",
                        },
                    }).then(res => res.json()).then(result => {
                        if (result.status) {
                            alert("新增成功")
                            location.href = "/BasicSetting/VacationType"
                        } else {
                            alert("新增失敗")
                        }
                    })
                },
                getDropDownList() {
                    fetch("/api/VacationDetailsApi/DropDownList")
                        .then(res => res.json())
                        .then(result => {
                            this.genderSelectItems = result.genderSelectItems;
                            this.cycleSelectItems = result.cycleSelectItems;
                        }
                        )
                },
            },
            mounted() {
                this.getDropDownList()
            }
        }).mount("#app");
    </script>
}

