@{
    ViewBag.title = "加班申請單";
}

<div class="secion mt-2" id="app">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title d-flex justify-content-between">
                <span>加班申請單</span>
                <label class="border rounded border-success text-success" style="font-size:16px">編輯中
                </label>
            </h3>
        </div>

        <div class="card-body">
            <div class="row form-group basic">
                <label class="col-form-label">申請人：</label>
                <input type="text" class="form-control" v-model="empName" readonly>
                <i class="clear-input">
                    <ion-icon name="close-circle" role="img" class="md hydrated" aria-label="close circle"></ion-icon>
                </i>
            </div>


            <div class="row form-group basic">
                <label class="col-form-label">加班期間：</label>
                <input id="timeRange" type="datetime" class="form-control">
                <span class="text-danger font-weight-bold col-form-label" v-if="!dataValid.overtimeResult">請選擇加班期間</span>
                <i class="clear-input">
                    <ion-icon name="close-circle" role="img" class="md hydrated" aria-label="close circle"></ion-icon>
                </i>
            </div>

            <div class="row form-group basic" v-if="isValid(startTime)">
                <label class="col-form-label text-green">加班時數：{{ overtimeResult }}</label>
            </div>

            <div class="row form-group basic">
                <div class="custom-control custom-checkbox mb-1">
                    <input type="checkbox" class="custom-control-input" id="ovetimeCheck" v-model="status">
                    <label class="custom-control-label" for="ovetimeCheck">加班轉補休</label>
                </div>
            </div>

            <div class="row form-group basic">
                <label class="col-form-label">加班原因：</label>
                <textarea cols="5" rows="5" class="form-control" v-model="reason"></textarea>
                <span class="text-danger font-weight-bold" v-if="!dataValid.reason">請說明加班原因</span>
            </div>
        </div>

        <div class="card-footer">
            <div class="row justify-content-around">
                <button type="button" class="btn btn-facebook" @@click="checkIsValidData">
                    <ion-icon name="checkmark-done-outline"></ion-icon>
                    送出
                </button>
                <button type="button" class="btn btn-dribbble" @@click="toList">
                    <ion-icon name="close-outline"></ion-icon>
                    取消
                </button>
            </div>
        </div>
    </div>
</div>

@section Scripts {

    <script>
        Vue.createApp({
            data() {
                return {
                    empName: '',
                    startTime: '',
                    endTime: '',
                    status: false,
                    reason: '',
                    overtimeResult: '',
                    dataValid: {
                        startTime: true,
                        endTime: true,
                        reason: true,
                        overtimeResult: true,
                    }
                }
            },
            methods: {
                getEmpId() {
                    let self = this;
                    fetch(`/api/OvertimeApplicationsApi/GetEmoloyeeName`).then(res => res.json())
                        .then(result => {
                            self.empName = result.employeeName;
                        })
                },
                toList() {
                    location.href = "/ApplicationForm/OvertimeRequest";
                },

                getTimeRange() {
                    let self = this;
                    var options = {
                        weekday: 'long',
                        year: 'numeric',
                        month: 'long',
                        day: 'numeric',
                        hour: 'numeric',
                        minute: 'numeric',
                        second: 'numeric'
                    };

                    $('#timeRange').daterangepicker({
                        "startDate": this.getToday(),
                        "endDate": this.getToday(),
                        timePicker: true,
                        timePickerIncrement: 15,
                        locale: {
                            format: 'YYYY-MM-DD HH:mm'
                        }
                    },
                        function (start, end, _) {
                            self.startTime = start;
                            self.endTime = end;
                            self.countOvertimeMins();
                        });
                },
                getToday() {
                    return moment().format("YYYY-MM-DD HH:mm")
                },
                countOvertimeMins() {
                    let self = this;
                    self.overtimeResult = '';
                    if (self.startTime && self.endTime) {
                        const start = self.startTime;
                        const end = self.endTime;
                        const durationMilliseconds = end - start;
                        const durationMinutes = Math.floor(durationMilliseconds / (60 * 1000));
                        const hours = Math.floor(durationMinutes / 60);
                        const minutes = durationMinutes % 60;
                        if (hours === 0) {
                            self.overtimeResult = `${minutes} 分鐘`;
                        } else if (minutes === 0) {
                            self.overtimeResult = `${hours} 小時`;
                        } else {
                            self.overtimeResult = `${hours} 小時 ${minutes} 分鐘`;
                        }
                    } else {
                        self.overtimeResult = '';
                    }
                },
                checkIsValidData() {
                    let isValid = true;
                    let self = this;
                    self.dataValid.overtimeResult = self.overtimeResult == '' ? false : true;
                    self.dataValid.reason = self.reason == '' ? false : true;
                    if (self.dataValid.overtimeResult && self.dataValid.reason) {
                        this.sendOvertimeRequest();
                    }
                },
                sendOvertimeRequest() {
                    let self = this;
                    self.startTime = self.startTime.utc(true).toISOString();
                    self.endTime = self.endTime.utc(true).toISOString();

                    axios.post("/api/OvertimeApplicationsApi/Create", {
                        startTime: self.startTime,
                        endTime: self.endTime,
                        reason: self.reason,
                        status: self.status,
                    }).then(response => {
                        if (response.data == true) {
                            Swal.fire({
                                icon: "success",
                                title: "新增成功!",
                                confirmButtonText: '返回',
                                showClass: {
                                    popup: `animate__animated animate__fadeInUp animate__faster`
                                },
                                hideClass: {
                                    popup: `animate__animated animate__fadeOutDown animate__faster`
                                }
                            }).then((result) => {
                                if (result.value) {
                                    location.href = "/event/OvertimeRequest";
                                }
                            });
                        } else {
                            Swal.fire({
                                icon: "error",
                                title: "新增失敗!",
                                confirmButtonText: '返回',
                                showClass: {
                                    popup: `animate__animated animate__fadeInUp animate__faster`
                                },
                                hideClass: {
                                    popup: `animate__animated animate__fadeOutDown animate__faster`
                                }
                            });
                        }
                    });
                },
                isValid(string) {
                    const isValidData = Date.parse(string);
                    return !isNaN(isValidData);
                },
            },
            mounted() {
                this.getEmpId();
                this.getTimeRange();
            }
        }).mount("#app");
    </script>
}