<?xml version="1.0" encoding="utf-8"?>
<!--
此檔案由您的 Web 專案發佈/封裝處理序使用。您可以藉由編輯此 MSBuild 檔案，
自訂此處理序的行為。若要深入了解，請前往 https://go.microsoft.com/fwlink/?LinkID=208121。 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/7b6bab66-f6e8-4eb9-9563-278cf84297af/resourceGroups/thm104resurcegroup/providers/Microsoft.Web/sites/TimeWaltz</ResourceId>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://timewaltz.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ProjectGuid>921b20ad-dc7e-4fc7-a69e-231096920964</ProjectGuid>
    <PublishUrl>https://timewaltz.scm.azurewebsites.net/</PublishUrl>
    <UserName>$TimeWaltz</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>