<div class="modal fade panelbox panelbox-left" id="sidebarPanel" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body p-0">

                <!-- profile box -->
                <div class="profileBox">
                    <div class="image-wrapper">
                        <img src="/mobile/assets/img/sample/avatar/avatar1.jpg" alt="image" class="imaged rounded">
                    </div>
                    <div class="in">
                        <strong>Reds Wang</strong>
                        <div class="text-muted">
                            <ion-icon name="location"></ion-icon>
                            California
                        </div>
                    </div>
                    <a href="javascript:;" class="close-sidebar-button" data-dismiss="modal">
                        <ion-icon name="close"></ion-icon>
                    </a>
                </div>
                <!-- * profile box -->

                <ul class="listview flush transparent no-line image-listview mt-2">
                    <li>
                        <a href="/employee/event/clock" class="item">
                            <div class="icon-box bg-primary">
                                <ion-icon name="home-outline"></ion-icon>
                            </div>
                            <div class="in">
                                打卡
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="/employee/event/LeaveRequest" class="item">
                            <div class="icon-box bg-primary">
                                <ion-icon name="cube-outline"></ion-icon>
                            </div>
                            <div class="in">
                                請假申請
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="/employee/event/OverTimeRequest" class="item">

                            <div class="icon-box bg-primary">
                                <ion-icon name="layers-outline"></ion-icon>
                            </div>
                            <div class="in">
                                加班申請
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="/employee/event/CompRequest" class="item">
                            <div class="icon-box bg-primary">
                                <ion-icon name="chatbubble-ellipses-outline"></ion-icon>
                            </div>
                            <div class="in">
                                <div>補打卡</div>
                                @* <span class="badge badge-danger">5</span> *@
                            </div>
                        </a>
                    </li>
                </ul>
                <div class="listview-title mt-2 mb-1">
                    <span>查詢</span>
                </div>
                <ul class="listview image-listview flush transparent no-line">
                    <li>
                        <a href="/employee/query/Overtime" class="item">

                            <div class="icon-box bg-primary">
                                <ion-icon name="home-outline"></ion-icon>
                            </div>
                            <div class="in">
                                加班查詢
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="/employee/query/Leave" class="item">

                            <div class="icon-box bg-primary">
                                <ion-icon name="cube-outline"></ion-icon>
                            </div>
                            <div class="in">
                                請假查詢
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="/employee/query/CompRequest" class="item">
                            <div class="icon-box bg-primary">
                                <ion-icon name="layers-outline"></ion-icon>
                            </div>
                            <div class="in">
                                補打卡查詢
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="/employee/query/ShiftSchedule" class="item">

                            <div class="icon-box bg-primary">
                                <ion-icon name="chatbubble-ellipses-outline"></ion-icon>
                            </div>
                            <div class="in">
                                <div>班表查詢</div>

                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="/employee/query/Attendance" class="item">

                            <div class="icon-box bg-primary">
                                <ion-icon name="chatbubble-ellipses-outline"></ion-icon>
                            </div>
                            <div class="in">
                                <div>出缺勤查詢</div>

                            </div>
                        </a>
                    </li>
                </ul>
                <ul class="listview flush transparent no-line image-listview mt-2">
                    <li>
                        <div class="item">
                            <div class="icon-box bg-primary">
                                <ion-icon name="moon-outline"></ion-icon>
                            </div>
                            <div class="in">
                                <div>Dark Mode</div>
                                <div class="custom-control custom-switch">
                                    <input type="checkbox" class="custom-control-input dark-mode-switch"
                                           id="darkmodesidebar">
                                    <label class="custom-control-label" for="darkmodesidebar"></label>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>

            </div>

            <!-- sidebar buttons -->
            <div class="sidebar-buttons">
                <a href="javascript:;" class="button">
                    <ion-icon name="person-outline"></ion-icon>
                </a>
                @*                 <a href="javascript:;" class="button">
                <ion-icon name="archive-outline"></ion-icon>
                </a>
                <a href="javascript:;" class="button">
                <ion-icon name="settings-outline"></ion-icon>
                </a> *@
                <a href="javascript:;" class="button">
                    <ion-icon name="log-out-outline"></ion-icon>
                </a>
            </div>
            <!-- * sidebar buttons -->
        </div>
    </div>
</div>