@* <div class="appBottomMenu">
    <a href="/employee/event/clock" class="item">
        <div class="col">
            <ion-icon name="alarm-outline"></ion-icon>
            <strong>打卡</strong>
        </div>
    </a>    
    <a href="/employee/event/LeaveRequest" class="item">
        <div class="col">
            <ion-icon name="briefcase-outline"></ion-icon>
            <strong>請假申請</strong>
        </div>
    </a>
    <a href="/employee" class="item">
        <div class="col">
            <ion-icon name="home-outline"></ion-icon>
            <strong>首頁</strong>
        </div>
    </a>
    <a href="/employee/event/CompRequest" class="item">
        <div class="col">
            <ion-icon name="file-tray-full-outline"></ion-icon>
            <strong>加班申請</strong>
        </div>
    </a>
    <a href="/employee/event/CompRequest" class="item">
        <div class="col">
            <ion-icon name="file-tray-full-outline"></ion-icon>
            <strong>加班申請</strong>
        </div>
    </a>
</div>
 *@

<div class="appBottomMenu">
    <a href="/employee/event/clock" class="item">
        <div class="col">
            <ion-icon name="alarm-outline"></ion-icon>
            <strong>打卡</strong>
        </div>
    </a>
    <a href="/employee/event/LeaveRequest" class="item">
        <div class="col">
            <ion-icon name="briefcase-outline"></ion-icon>
            <strong>請假</strong>
        </div>
    </a>
    <a href="/employee" class="item">
        <div class="col">
            <div class="action-button large">
                <ion-icon name="home-outline"></ion-icon>
            </div>
        </div>
    </a>
    <a href="/employee/event/CompRequest" class="item">
        <div class="col">
            <ion-icon name="timer-outline" role="img" class="md hydrated" aria-label="timer outline"></ion-icon>
            <strong>補打卡</strong>
        </div>
    </a>
    <a href="/employee/event/overtimeRequest" class="item">
        <div class="col">
            <ion-icon name="file-tray-full-outline"></ion-icon>
            <strong>加班</strong>
        </div>
    </a>
</div>