<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <a href="../../index3.html" class="brand-link">
        <img src="/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
        <span class="brand-text font-weight-light">TimeWaltz</span>
    </a>
    <div class="sidebar">

        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-copy"></i>
                        <p>
                            個人資料
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a asp-controller="PersonalRecord" asp-action="Clock" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>打卡</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="PersonalRecord" asp-action="Attendance" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>出缺勤查詢</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="PersonalRecord" asp-action="Leave" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>請假查詢</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="PersonalRecord" asp-action="Overtime" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>加班查詢</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="PersonalRecord" asp-action="ShiftSchedule" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>班表查詢</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="PersonalRecord" asp-action="Approval" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>簽核</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="PersonalRecord" asp-action="AgentEmployeeSetting" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>代理人設定</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-edit"></i>
                        <p>
                            表單申請
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a asp-controller="ApplicationForm" asp-action="LeaveRequest" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>請假單</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="ApplicationForm" asp-action="OvertimeRequest" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>加班單</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="ApplicationForm" asp-action="CompRequest" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>補打卡單</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-address-book"></i>
                        <p>
                            基本設定
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a asp-controller="BasicSetting" asp-action="Personal" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>個人資料</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="BasicSetting" asp-action="ListShiftSchedule" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>班別設定</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="BasicSetting" asp-action="ListVacationType" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>假別設定</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="BasicSetting" asp-action="Department" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>部門設定</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="BasicSetting" asp-action="Flextime" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>彈性上班設定</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="BasicSetting" asp-action="ListPublicHoliday" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>國定假日設定</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="BasicSetting" asp-action="SpacialVacation" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>特殊假設定</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="BasicSetting" asp-action="ListSpecialHoliday" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>特休設定</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-sun"></i>
                        <p>
                            設定
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="pages/charts/chartjs.html" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>公佈欄</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="pages/charts/flot.html" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>帳號設定</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="pages/charts/inline.html" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>權限設定</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="pages/charts/uplot.html" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>角色設定</p>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>

    </div>
</aside>