<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <a href="/" class="brand-link">
        <img src="~/img/TimeWaltz.png"  class="brand-image img-circle elevation-3" style="opacity: .8">
        <span class="brand-text font-weight-light">TimeWaltz</span>
    </a>
    <div class="sidebar">

        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">                
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fa-regular fa-address-book"></i>
                        <p>
                            基本設定
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="/BasicSetting/PersonalData" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>個人資料</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/BasicSetting/ShiftSchedule" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>班別設定</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/BasicSetting/VacationType" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>假別設定</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/BasicSetting/Department" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>部門設定</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/BasicSetting/Flextime" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>彈性上班設定</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/BasicSetting/PublicHoliday" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>國定假日設定</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/BasicSetting/SpecialVacation" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>特殊假設定</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/BasicSetting/SpecialHoliday" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>特休設定</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/BasicSetting/SpecialGrade" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>年資級距表設定</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fa-solid fa-gear"></i>
                        <p>設定<i class="right fas fa-angle-left"></i></p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="/Setting/BillBoard" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>公佈欄</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/Setting/Account" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>帳號設定</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/Setting/Access" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>權限設定</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/Setting/Role" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>角色設定</p>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>

    </div>
</aside>