@{
    Layout = "_Layout";
    ViewData["Title"] = "出缺勤瀏覽";
}

<div class="card-body" id="app">
    <div id="example2-wrapper" class="dataTables_wrapper dt-bootstrap4">
        <div class="row">
            <div class="col-sm-12 col-md-6"></div>
            <div class="col-sm-12 col-md-6"></div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <table id="example2"
                       class="table table-bordered table-hover dataTable dtr-inline"
                       aria-describedby="example2_info">
                    <thead>
                        <tr>
                            <th class="sorting sorting_asc" tabindex="0" rowspan="1"
                                colspan="1">
                                請假日期
                            </th>
                            <th class=" sorting" tabindex="0" rowspan="1" colspan="1">
                                開始時間
                            </th>
                            <th class="sorting" tabindex="0" rowspan="1" colspan="1">
                                結束時間
                            </th>
                            <th class="sorting" tabindex="0" rowspan="1" colspan="1">
                                假別
                            </th>
                            <th class="sorting" tabindex="0" rowspan="1" colspan="1">
                                狀態
                            </th>
                            <th class="sorting" tabindex="0" rowspan="1" colspan="1">
                                詳細
                            </th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr v-for="item in leaveRequestListData">
                            <td class="dtr-control">{{item.date}}</td>
                            <td>{{item.startTime}}</td>
                            <td>{{item.endTime}}</td>
                            <td>{{item.vacationType}}</td>
                            <td>{{item.approvalEmpName}}</td>
                            <td>
                                <a href="#" @@click="edit(item.id, $event)">詳細</a>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>

@section Scripts {
    <script>
        Vue.createApp({
            data() {
                return {
                    leaveRequestListData: [],
                    id: null,
                    employeeId: null,
                    date: null,
                    startTime: null,
                    endTime: null,
                    leaveHours: null,
                    approvalEmpName: '',
                    vacationType: '',
                    agentEmployeeName: '',
                    approvalStatus: '',
                }
            },
            methods: {
                edit(id, event) {
                    event.preventDefault();
                    location.href = `/PersonalRecord/leaveEdit/${id}`

                },
                getListData() {
                    let self = this;
                    fetch("/api/LeaveApi/List").then(res => res.json()).then(result => {
                        console.log(result)
                        self.leaveRequestListData = result
                        self.date = result.startDate + '~' + result.endDate
                        console.log(self.date);
                    })
                },
            },
            mounted() {
                this.getListData();
            },
        }).mount('#app')
    </script>
}