@{
    ViewBag.Title = "打卡資訊";
}
@model ClockViewModel

<div class="row justify-content-center">
    <div class="col-md-6">
        <form asp-controller="PersonalRecord" asp-action="Clock" method="post">
            <div class="card card-light">
                <div class="card-header">
                    <h3 class="card-title">打卡時間</h3>
                </div>
                <input asp-for="EmployeesId" type="hidden" value="1" />
                <div class="card-body">
                    <div class="row form-group">
                        <label class="col-form-label col-md-auto">上班時間</label>
                        <input asp-for="StartClockInDate" type="text" class="form-control col-md-5" id="startTime" readonly>
                    </div>
                    <div class="row form-group">
                        <label class="col-form-label col-md-auto">打卡地點</label>
                        <label class="col-form-label col-md-auto">經度：</label>
                        <input asp-for="StartClockInLongitude" type="text" class="form-control col-md-2" id="StartAddLng" readonly>
                        <label class="col-form-label col-md-auto">緯度：</label>
                        <input asp-for="StartClockInLatitude" type="text" class="form-control col-md-2" id="StartAddLat" readonly>
                    </div>
                <hr>
                    <div class="row form-group">
                        <label class="col-form-label col-md-auto">下班時間</label>
                        <input asp-for="EndClockInDate" type="text" class="form-control col-md-5" id="endTime" readonly>
                    </div>
                    <div class="row form-group">
                        <label class="col-form-label col-md-auto">打卡地點</label>
                        <label class="col-form-label col-md-auto">經度：</label>
                        <input asp-for="EndClockInLongitude" type="text" class="form-control col-md-2" id="EndAddLng" readonly>
                        <label class="col-form-label col-md-auto">緯度：</label>
                        <input asp-for="EndClockInLatitude" type="text" class="form-control col-md-2" id="EndAddLat" readonly>
                    </div>
                </div>
                <div class="card-footer">
                    <input type="button" class="btn btn-danger" id="startClockIn" value="上班打卡" onclick="setStatus('上班打卡')">
                    <input type="button" class="btn btn-primary" id="endClockIn" value="下班打卡" onclick="setStatus('下班打卡')">
                    <input type="hidden" asp-for="Status" id="statusHidden">
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-4">
        <div class="card card-light">
            <div class="card-header">
                <h3 class="card-title">當日班表</h3>
            </div>
            <div class="card-body">
                <div class="form-group row">
                    <label class="col-form-label col-sm-3">上班時間</label>
                    <input asp-for="ShiftScheduleStartTime" type="text" class="col-sm-9" readonly>
                </div>
                <div class="form-group row">
                    <label class="col-form-label col-sm-3">下班時間</label>
                    <input asp-for="ShiftScheduleEndTime" type=" text" class="col-sm-9" readonly>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="successModal" tabindex="-1" role="dialog" aria-labelledby="successModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="successModalLabel">打卡成功</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @if (!string.IsNullOrEmpty(ViewBag.SuccessMessage))
                {
                    <p>@ViewBag.SuccessMessage</p>
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">確認</button>
            </div>
        </div>
    </div>
</div>




@section Scripts {
    <script src="@Href("https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js")"></script>
    <script>
        var longitude;
        var latitude;
        var status;
        var startClock = document.getElementById('startClockIn');
        var endClock = document.getElementById('endClockIn');

        var startTime = document.getElementById('startTime');
        var endTime = document.getElementById('endTime');
        var options = {
            weekday: 'long',
            year: 'numeric',
            month: 'long',
            day: 'numeric',
            hour: 'numeric',
            minute: 'numeric',
            second: 'numeric'
        };

        function getLocation() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(
                    function (position) {
                        longitude = position.coords.longitude;
                        latitude = position.coords.latitude;
                    },
                    function (error) {
                        alert("無法取得位置");
                    }
                );
            } else {
                alert("無法取得位置");
            }
        }
        window.onload = getLocation;

        function setStatus(value) {
            document.getElementById('statusHidden').value = value;
        }

        startClock.addEventListener('click', (e) => {
            e.preventDefault();
            startTime.value = new Date().toLocaleString('zh-TW', options);
            updateLocation('StartAddLng', 'StartAddLat');
            document.getElementById('StartAddLng').value = longitude;
            document.getElementById('StartAddLat').value = latitude;
            showSuccessAlert();
            document.forms[0].submit();
        });

        endClock.addEventListener('click', (e) => {
            e.preventDefault();
            endTime.value = new Date().toLocaleString('zh-TW', options);
            updateLocation('EndAddLng', 'EndAddLat');
            document.getElementById('EndAddLng').value = longitude;
            document.getElementById('EndAddLat').value = latitude;
            showSuccessAlert();
            document.forms[0].submit();
        });

        function updateLocation(lng, lat) {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(
                    function (position) {
                        latitude = position.coords.latitude;
                        longitude = position.coords.longitude;
                    },
                    function (error) {
                        alert("無法取得位置");
                    }
                );
            } else {
                alert("無法取得位置");
            }
        }
        function showSuccessAlert() {
            $('#successModal').modal('show');
        }
    </script>
}