@{
    Layout = "_Layout";
    ViewData["Title"] = "請假申請";
}
<form asp-action="CreateLeave" asp-asp-controller="PersonalSetting" method="post" id="app">
    <section class="content">
        <div class="card-body">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">假別名稱</label>
                <input name="VacationType" class="form-control" />
                <span class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">可請性別限制</label>
                <select name="Gender" class="form-control">
                    <option v-for="item in genderSelectItems" :value="item.value">{{item.text}}</option>
                </select>
                <span class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">可請周期</label>
                <select name="Cycle" class="form-control">
                    <option v-for="item in cycleSelectItems" :value="item.value">{{item.text}}</option>
                </select>
                <span class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">可請天數</label>
                <input name="NumberOfDays" class="form-control" />
                <span class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">最小可請時數</label>
                <input name="MinVacationHours" class="form-control" />
                <span class="text-danger"></span>
            </div>
            <div class="form-group">
            </div>


            <div class="card-footer">
                <div class="row float-right">
                    <div class="col ">
                        <input type="submit" value="送出" class="btn btn-primary" />
                        <a asp-controller="BasicSetting" asp-action="ListVacationType" class="btn btn-outline-success">返回</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</form>

@section Scripts{

    <script>
        Vue.createApp({
            data(){
                return {
                    agentSelectItems: [],
                    vacationTypeSelectItems: []
                }
            },
            mounted() {
                fetch("/api/LeaveRequestApi/DropDownList").then(res => res.json())
                    .then(result => {
                        this.genderSelectItems = result.genderSelectItems;
                        this.vacationTypeSelectItems = result.vacationTypeSelectItems;
                    })
            }
        }).mount("#app");
            
        })




    </script>



}