@{
    Layout = "_Layout";
    ViewData["Title"] = "請假申請";
}

<form id="app">
    <div class="row">
        <div class="col-md-4">
            <div class="card-body">
                <div class="form-group">
                    <label for="">申請人</label>
                    <input type="text" class="form-control" :value="name" disabled>
                </div>
                <div class="form-group">
                    <label for="">請假期間</label>
                    <input id="timeRange" name="dateRange" type="datetime" class="form-control" value="">
                </div>
                <div class="form-group">
                    <label for="">假別選擇</label>
                    <select class="form-control select2 select2-hidden-accessible"
                            style="width: 100%;" data-select2-id="1" tabindex="-1"
                            aria-hidden="true" :class="validation.vacationDetailsId" v-model="vacationDetailsId">
                        <option value="">---請選擇---</option>
                        <option v-for="item in vacationDropDownList" :value="item.value">{{item.text}}</option>
                    </select>
                    <span class="select2 select2-container select2-container--default select2-container--below select2-container--focus"
                          dir="ltr" style="width: 100%;">
                        <span class="selection"></span>
                    </span>
                    <span class="text-danger" v-if="!validation.vacationDetailsId">假別選擇不得為空!</span>
                </div>
                <div class="form-group">
                    <label for="">代理人選擇</label>
                    <select class="form-control select2 select2-hidden-accessible"
                            style="width: 100%;" data-select2-id="1" tabindex="-1"
                            aria-hidden="true" :class="validation.agentEmployeeId" v-model="agentEmployeeId">
                        <option value="">---請選擇---</option>
                        <option v-for="item in agentDropDownList" :value="item.value">{{item.text}}</option>
                    </select>
                    <span class="select2 select2-container select2-container--default select2-container--below select2-container--focus"
                          dir="ltr" style="width: 100%;">
                        <span class="selection"></span>
                    </span>
                    <span class="text-danger" v-if="!validation.agentEmployeeId">代理人選擇不得為空!</span>
                </div>
                <div class="form-group">
                    <label for="">附加檔案上傳：</label><br />
                    <input type="file" id="exampleInputFile" @@change="change">
                    <span class="select2 select2-container select2-container--default select2-container--below select2-container--focus"
                          dir="ltr" style="width: 100%;">
                        <span class="selection"></span>
                    </span>
                </div>
            </div>
        </div>
        
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card-body">
                <div class="form-group">
                    <label>原因：</label>
                    <textarea class="form-control" rows="3"
                              control-id="ControlID-13" :class="validation.reason" v-model="reason"></textarea>
                    <span class="text-danger" v-if="!validation.reason">請假原因不得為空!</span>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <input type="button" value="傳送" @@click="validateAndSubmit" />
            </div>
        </div>
    </div>
</form>
@section Scripts {

    <script>
        const vueLeave = Vue.createApp({
            data() {
                return {
                    agentDropDownList: '',
                    vacationDropDownList: '',
                    name: '',
                    employeesId: null,
                    startTime: null,
                    endTime: null,
                    vacationDetailsId: null,
                    reason: '',
                    fileRoute: '',
                    agentEmployeeId: null,
                    leaveHours: null,
                    nameAndIdPare: [],
                    validation: {
                        vacationDetailsId: true,
                        reason: true,
                        agentEmployeeId: true,
                        
                    },
                }
            },
            methods: {
                validateAndSubmit() {
                    let isValid = true;
                    this.validation.vacationDetailsId = this.vacationDetailsId == null ? false : true;
                    this.validation.reason = this.reason == '' ? false : true;
                    this.validation.agentEmployeeId = this.agentEmployeeId == null ? false : true;
                    if (this.validation.vacationDetailsId && this.validation.reason && this.validation.agentEmployeeId) {
                        this.send();
                    }
                },
                change(e) {
                    let self = this;
                    console.log(e.target.files[0])
                    self.fileRoute = e.target.files[0]
                },
                getToday(){
                    console.log(moment().format("YYYY-MM-DD HH:mm"))
                    return moment().format("YYYY-MM-DD HH:mm")
                },
                send(){
                    let self = this;
                    console.log(self.employeesId, self.startTime, self.endTime, self.vacationDetailsId, self.agentEmployeeId, self.reason, self.fileRoute)
                    if(self.leaveHours == null){
                        self.leaveHours = 0;
                    }
                    var formData = new FormData()
                    formData.append('startTime', self.startTime)
                    formData.append('endTime', self.endTime)
                    formData.append('employeesId', self.employeesId)
                    formData.append('vacationDetailsId', self.vacationDetailsId)
                    formData.append('agentEmployeeId', self.agentEmployeeId)
                    formData.append('reason', self.reason)
                    formData.append('fileRoute', self.fileRoute)
                    formData.append('leaveHours', self.leaveHours)
                    fetch("/api/LeaveApi/Create", {
                        method: 'POST',
                        body: formData,
                    }).then(res => res.json()).then(result => {
                        console.log(result);
                        if(result.status == true){
                            alert("申請成功送出!")
                            location.href = '/personalrecord/Leave'
                        }else{
                            alert("申請失敗!")
                            location.href = '/personalrecord/LeaveCreate'
                        }
                    })
                },
                getDefaultTime() {
                    console.log(moment().format('YYYY-MM-DD HH:mm'))
                    return moment().format('YYYY-MM-DD HH:mm')                   
                },
                getTimeRange() {
                    let self = this;
                    $('#timeRange').daterangepicker({
                        "startDate": this.getToday(),
                        "endDate": this.getToday(),
                        timePicker: true,
                        timePickerIncrement: 30,
                        locale: {
                            format: 'YYYY-MM-DD HH:mm'
                        }
                    },
                        function (start, end, _) {
                            console.log('selected', start, end)
                            self.startTime = start.format('YYYY-MM-DD HH:mm')
                            self.endTime = end.format('YYYY-MM-DD HH:mm')

                            console.log(self.startTime, self.endTime)
                        }
                    );                    
                },
                getDropDownList() {
                    let self = this;
                    fetch("/api/LeaveApi/GetDropDownList").then(res => res.json()).then(result => {
                        console.log(result);
                        //一個物件裡面有兩個陣列
                        self.agentDropDownList = result.agentDropDownList
                        self.vacationDropDownList = result.vacationDropDownList
                    })
                },
                getNameAndId(){
                    let self = this;
                    fetch("/api/LeaveApi/GetEmoloyeeName").then(res => res.json()).then(result => {
                        console.log(result);
                        self.name = result.employeesName;
                        self.employeesId = result.employeesId;

                    })
                },
            },
            mounted() {
                this.getDropDownList();
                this.getTimeRange();
                this.getNameAndId();
                this.getDefaultTime();
            }
        }).mount("#app");





    </script>

}
