@model WebApplication1.Models.ViewModel.LeaveViewModel

<div class="card-body">
    <div id="example2-wrapper" class="dataTables_wrapper dt-bootstrap4">
        <div class="row">
            <div class="col-sm-12 col-md-6"></div>
            <div class="col-sm-12 col-md-6"></div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <table id="example2"
                       class="table table-bordered table-hover dataTable dtr-inline"
                       aria-describedby="example2_info">
                    <thead>
                        <tr>
                            <th class="sorting sorting_asc" tabindex="0" rowspan="1"
                                colspan="1">
                                請假日期
                            </th>
                            <th class=" sorting" tabindex="0" rowspan="1" colspan="1">
                                開始時間
                            </th>
                            <th class="sorting" tabindex="0" rowspan="1" colspan="1">
                                結束時間
                            </th>
                            <th class="sorting" tabindex="0" rowspan="1" colspan="1">
                                時數
                            </th>
                            <th class="sorting" tabindex="0" rowspan="1" colspan="1">
                                假別
                            </th>
                            <th class="sorting" tabindex="0" rowspan="1" colspan="1">
                                狀態
                            </th>
                            <th class="sorting" tabindex="0" rowspan="1" colspan="1">
                                詳細
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            
                        }
                        <tr class="odd">
                            <td class="dtr-control">1</td>
                            <td>2</td>
                            <td>3</td>
                            <td>4</td>
                            <td>5</td>
                            <td>6</td>
                            <td>7</td>
                        </tr>
                        <tr class="even">
                            <td class="dtr-control">1</td>
                            <td>2</td>
                            <td>3</td>
                            <td>4</td>
                            <td>5</td>
                            <td>6</td>
                            <td>7</td>
                        </tr>
                        <tr class="odd">
                            <td class="dtr-control">1</td>
                            <td>2</td>
                            <td>3</td>
                            <td>4</td>
                            <td>5</td>
                            <td>6</td>
                            <td>7</td>
                        </tr>
                        <tr class="even">
                            <td class="dtr-control">1</td>
                            <td>2</td>
                            <td>3</td>
                            <td>4</td>
                            <td>5</td>
                            <td>6</td>
                            <td>7</td>
                        </tr>
                        <tr class="odd">
                            <td class="dtr-control">1</td>
                            <td>2</td>
                            <td>3</td>
                            <td>4</td>
                            <td>5</td>
                            <td>6</td>
                            <td>7</td>
                        </tr>
                        <tr class="even">
                            <td class="dtr-control">1</td>
                            <td>2</td>
                            <td>3</td>
                            <td>4</td>
                            <td>5</td>
                            <td>6</td>
                            <td>7</td>
                        </tr>
                        <tr class="odd">
                            <td class="dtr-control">1</td>
                            <td>2</td>
                            <td>3</td>
                            <td>4</td>
                            <td>5</td>
                            <td>6</td>
                            <td>7</td>
                        </tr>
                        <tr class="even">
                            <td class="dtr-control">1</td>
                            <td>2</td>
                            <td>3</td>
                            <td>4</td>
                            <td>5</td>
                            <td>6</td>
                            <td>7</td>
                        </tr>
                        <tr class="odd">
                            <td class="dtr-control">1</td>
                            <td>2</td>
                            <td>3</td>
                            <td>4</td>
                            <td>5</td>
                            <td>6</td>
                            <td>7</td>
                        </tr>
                        <tr class="even">
                            <td class="dtr-control">1</td>
                            <td>2</td>
                            <td>3</td>
                            <td>4</td>
                            <td>5</td>
                            <td>6</td>
                            <td>7</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-5">
                <div class="col-sm col-md-5" id="example2_info"></div>
            </div>
            <div class="col-sm-4 col-md-8">
                <div class="col-sm-12 col-md-7">
                    <div class="dataTables_paginate paging_simple_numbers"
                         id="example2_paginate">
                        <ul class="pagination">
                            <li class="paginate_button page-item previous disabled"
                                id="example2_previous">
                                <a href="#" aria-controls="example2"
                                   data-dt-idx="0" tabindex="0" class="page-link">Previous</a>
                            </li>
                            <li class="paginate_button page-item active">
                                <a href="#"
                                   aria-controls="example2" data-dt-idx="1" tabindex="0"
                                   class="page-link">1</a>
                            </li>
                            <li class="paginate_button page-item ">
                                <a href="#"
                                   aria-controls="example2" data-dt-idx="2" tabindex="0"
                                   class="page-link">2</a>
                            </li>
                            <li class="paginate_button page-item ">
                                <a href="#"
                                   aria-controls="example2" data-dt-idx="3" tabindex="0"
                                   class="page-link">3</a>
                            </li>
                            <li class="paginate_button page-item ">
                                <a href="#"
                                   aria-controls="example2" data-dt-idx="4" tabindex="0"
                                   class="page-link">4</a>
                            </li>
                            <li class="paginate_button page-item ">
                                <a href="#"
                                   aria-controls="example2" data-dt-idx="5" tabindex="0"
                                   class="page-link">5</a>
                            </li>
                            <li class="paginate_button page-item ">
                                <a href="#"
                                   aria-controls="example2" data-dt-idx="6" tabindex="0"
                                   class="page-link">6</a>
                            </li>
                            <li class="paginate_button page-item next" id="example2_next">
                                <a href="#" aria-controls="example2" data-dt-idx="7"
                                   tabindex="0" class="page-link">Next</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-8 col-md-4">
                <a href="" class="btn btn-outline-success">新增</a>
                <a href="" class="btn btn-outline-success">返回</a>
            </div>
        </div>
    </div>
</div>