<div class="header-large-title">
    <h1 class="title">首頁</h1>
    <h4 class="subtitle">公告事項</h4>
</div>

<div id="app">
    <div class="section mt-3 mb-3" v-for="item in billboard">
        <div class="card">
            <div class="card-body">
                <h6 class="card-subtitle"><span class="text-bold">發文者:</span>{{item.name}}</h6>
                <h5 class="card-title my-3">標題: {{item.title}}</h5>
                <hr/>
                <p class="card-text" v-html="item.content"></p>
                <div class="card-footer">
                    <div>
                        <div>
                            公告區間:
                        </div>
                        <div>
                            {{formatDate(item.startTime)}}~~{{formatDate(item.endTime)}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- app footer -->
<div class="appFooter">
    
    <div class="footer-title">
        Copyright © TimeWaltz 2024. All Rights Reserved.
    </div>
</div>
<!-- * app footer -->
@section Scripts {
    <script>
        Vue.createApp({
            data() {
                return {
                    billboard:[]
                }
            },
            methods: {
                formatDate(date) {
                    return moment(date).format("YYYY-MM-DD hh:mm");
                },
                getBillBoard() {
                    let self = this;
                    axios.get("/mobile/api/Billboard/All").then(response => self.billboard = response.data);
                },                
            },
            mounted() {
                this.getBillBoard();
            }
        }).mount("#app");
    </script>
}